# Auto detect text files and perform LF normalization
* text=auto
*.bas	working-tree-encoding=CP1251	eol=CRLF
*.rfm	working-tree-encoding=CP1251	eol=CRLF
*.cls	working-tree-encoding=CP1251	eol=CRLF
*.doccls	working-tree-encoding=CP1251	eol=CRLF
